@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: linear-gradient(90deg, rgba(30,27,64,1) 0%, rgba(59,7,100,1) 50%, rgba(80,7,36,1) 100%);
}

.title {
    color: white;
    text-align: center;
    margin-top: 0.6rem;
}

.commit {
    margin-top: 1rem;
    border-radius: 15px;
}

.avatar {
    min-width: 64px;
}

.date {
    background: linear-gradient(to bottom left, #fd0000 0, rgb(125, 37, 240) 50%, #0026ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}